.card-deck{
    margin-left: 150px;
            height:80px;
            width:1000px;
}
h2{
    color:gray;
    font-style: oblique;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}